@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Ubuntu+Condensed&display=swap');


body{
    background-color: #191919;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}



*{
    margin: 0;
    padding: 0;
    
    
}

nav{
   font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background: transparent 0 0 no-repeat padding-box;
    color: white;
    background: #1c1c1c;
    list-style-type: none;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 55px;
    padding: 0 0 0;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-size: 1.3rem;
    padding: 0px 20px;
}
.container{
    min-height: 75vh;
    
    
}


.bottom{
    position: relative;
    height: 180px;
    background-color: #1c1c1c;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.brand1 img{
    width: 55px;
    padding: 0 0 0;
    
}
.brand1{
    color: white;
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.fa-brands{
    padding: 20px 30px;
    font-size: 30px;
}
.fa-solid{
    padding: 20px 30px;
    font-size: 30px;
}
.foot{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.heading{
    padding: 50px 150px;
    font-size: 28;
    
}
.intro{
    padding-left: 150px;
    font-size: large;
    
}
.launch button{
    background-color: rgb(48, 168, 130);
    font-size: 16;
    color: white;
    border-radius: 5px;
    padding: 5 12;
    height: 30;
    
    cursor: pointer;
    
    
    margin-left: 150;
    margin-top: 20;
}
 .link{
    color: white;
    text-decoration: none;
 }

 .box1{
    float: left;
    width: 20%;
    padding-left: 150px;
    padding-top: 50px;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    
    
 }
 @media screen and (max-width: 600px){
    .box1{
        width: 50%;
    }

 }
    
 

    



